# Dependencies
node_modules/

# Environment variables
.env
*.env.local

# Database
*.sqlite
*.sqlite-journal

# Compiled/Build output
dist/
build/
.next/
out/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Project specific
backend/uploads/*
!backend/uploads/.gitkeep
